.default {
  align-items: center;
  appearance: none;
  background-color: #297cbb;
  backface-visibility: hidden;
  border: 0;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 11px;
  height: 40px;
  justify-content: center;
  line-height: 1;
  padding: 0;
  text-decoration: none;
  transition: background-color 200ms ease;
  white-space: nowrap;
  width: 40px;
}

.email {
  background-color: #2c3643; /* map(colors, textPrimary); */
}

.facebook {
  background-color: #3a5999; /* map(colors, socialFacebook); */
}

.facebookMessenger {
  background-color: #1472fb; /* map(colors, socialFacebookMessenger); */
}

.pinterest {
  background-color: #cb2027; /* map(colors, socialPinterest); */
}

.reddit {
  background-color: #fc4220; /* map(colors, socialReddit); */
}

.twitter {
  background-color: #1da1f2; /* map(colors, socialTwitter); */
}

.whatsapp {
  background-color: #28eb76; /* map(colors, socialWhatsapp); */
}
