// Colors

$color-bgPrimary: map(colors, bgPrimary) !default;
$color-bgSecondary: map(colors, bgSecondary) !default;
$color-bgOverlay: map(colors, bgOverlay) !default;
$color-bgDark: map(colors, bgDark) !default;

$color-linkPrimary: map(colors, linkPrimary) !default;
$color-linkPrimaryHover: map(colors, linkPrimaryHover) !default;

$color-borderPrimary: map(colors, borderPrimary) !default;

$color-textPrimary: map(colors, textPrimary) !default;
$color-textSecondary: map(colors, textSecondary) !default;
$color-textOverlay: map(colors, textOverlay) !default;

$color-shadowPrimary: map(colors, shadowPrimary) !default;

$color-accentBlue: map(colors, accentBlue) !default;
$color-accentGray: map(colors, accentGray) !default;
$color-accentGreen: map(colors, accentGreen) !default;
$color-accentOrange: map(colors, accentOrange) !default;
$color-accentPink: map(colors, accentPink) !default;
$color-accentPurple: map(colors, accentPurple) !default;
$color-accentRed: map(colors, accentRed) !default;
$color-accentYellow: map(colors, accentYellow) !default;

$color-uiGreen: map(colors, uiGreen) !default;

$color-socialFacebook: map(colors, socialFacebook) !default;
$color-socialFacebookMessenger: map(colors, socialFacebookMessenger) !default;
$color-socialPinterest: map(colors, socialPinterest) !default;
$color-socialGoogleBlue: map(colors, socialGoogleBlue) !default;
$color-socialGoogleGreen: map(colors, socialGoogleGreen) !default;
$color-socialGoogleYellow: map(colors, socialGoogleYellow) !default;
$color-socialGoogleRed: map(colors, socialGoogleRed) !default;
$color-socialReddit: map(colors, socialReddit) !default;
$color-socialTwitter: map(colors, socialTwitter) !default;
$color-socialWhatsapp: map(colors, socialWhatsapp) !default;

// Fonts

$font-benton: map(fonts, benton) !default;
$font-miller: map(fonts, miller) !default;

// Media queries

$mq-min-1430: map(mq, min, 1430) !default;
$mq-min-1410: map(mq, min, 1410) !default;
$mq-min-1350: map(mq, min, 1350) !default;
$mq-min-1290: map(mq, min, 1290) !default;
$mq-min-1200: map(mq, min, 1200) !default;
$mq-min-1080: map(mq, min, 1080) !default;
$mq-min-1024: map(mq, min, 1024) !default;
$mq-min-960: map(mq, min, 960) !default;
$mq-min-840: map(mq, min, 840) !default;
$mq-min-768: map(mq, min, 768) !default;
$mq-min-720: map(mq, min, 720) !default;
$mq-min-600: map(mq, min, 600) !default;
$mq-min-560: map(mq, min, 560) !default;
$mq-min-480: map(mq, min, 480) !default;
$mq-min-360: map(mq, min, 360) !default;
$mq-min-320: map(mq, min, 320) !default;

$mq-max-1530: map(mq, max, 1530) !default;
$mq-max-1430: map(mq, max, 1430) !default;
$mq-max-1410: map(mq, max, 1410) !default;
$mq-max-1350: map(mq, max, 1350) !default;
$mq-max-1290: map(mq, max, 1290) !default;
$mq-max-1200: map(mq, max, 1200) !default;
$mq-max-1080: map(mq, max, 1080) !default;
$mq-max-1024: map(mq, max, 1024) !default;
$mq-max-960: map(mq, max, 960) !default;
$mq-max-840: map(mq, max, 840) !default;
$mq-max-768: map(mq, max, 768) !default;
$mq-max-720: map(mq, max, 720) !default;
$mq-max-600: map(mq, max, 600) !default;
$mq-max-560: map(mq, max, 560) !default;
$mq-max-480: map(mq, max, 480) !default;
$mq-max-360: map(mq, max, 360) !default;
$mq-max-320: map(mq, max, 320) !default;

// Timing

$timing-fast: map(timing, fast) !default;
$timing-default: map(timing, default) !default;
$timing-slow: map(timing, slow) !default;

// Typography

$typography-fontWeightLight: map(typography, fontWeightLight) !default;
$typography-fontWeightRegular: map(typography, fontWeightRegular) !default;
$typography-fontWeightMedium: map(typography, fontWeightMedium) !default;

$typography-fontSizeSuper: calc(map(typography, fontSizeSuper) * 1px) !default;
$typography-fontSizeHeading1: calc(map(typography, fontSizeHeading1) * 1px) !default;
$typography-fontSizeHeading2: calc(map(typography, fontSizeHeading2) * 1px) !default;
$typography-fontSizeHeading3: calc(map(typography, fontSizeHeading3) * 1px) !default;
$typography-fontSizeHeading4: calc(map(typography, fontSizeHeading4) * 1px) !default;
$typography-fontSizeHeading5: calc(map(typography, fontSizeHeading5) * 1px) !default;
$typography-fontSizeHeading6: calc(map(typography, fontSizeHeading6) * 1px) !default;
$typography-fontSizeHeading7: calc(map(typography, fontSizeHeading7) * 1px) !default;
$typography-fontSizeHeading8: calc(map(typography, fontSizeHeading8) * 1px) !default;
$typography-fontSizeBodyArticle: calc(map(typography, fontSizeBodyArticle) * 1px) !default;
$typography-fontSizeBodyArticleSmall: calc(map(typography, fontSizeBodyArticleSmall) * 1px) !default;
$typography-fontSizeBodySmall: calc(map(typography, fontSizeBodySmall) * 1px) !default;
$typography-fontSizeAccent: calc(map(typography, fontSizeAccent) * 1px) !default;
$typography-fontSizeUppercase: calc(map(typography, fontSizeUppercase) * 1px) !default;

$typography-lineHeightSuper: map(typography, lineHeightSuper) !default;
$typography-lineHeightHeading1: map(typography, lineHeightHeading1) !default;
$typography-lineHeightHeading2: map(typography, lineHeightHeading2) !default;
$typography-lineHeightHeading3: map(typography, lineHeightHeading3) !default;
$typography-lineHeightHeading4: map(typography, lineHeightHeading4) !default;
$typography-lineHeightHeading5: map(typography, lineHeightHeading5) !default;
$typography-lineHeightHeading6: map(typography, lineHeightHeading6) !default;
$typography-lineHeightHeading7: map(typography, lineHeightHeading7) !default;
$typography-lineHeightHeading8: map(typography, lineHeightHeading8) !default;
$typography-lineHeightBodyArticle: map(typography, lineHeightBodyArticle) !default;
$typography-lineHeightBodyArticleSmall: map(typography, lineHeightBodyArticleSmall) !default;
$typography-lineHeightBodySmall: map(typography, lineHeightBodySmall) !default;
$typography-lineHeightAccent: map(typography, lineHeightAccent) !default;
$typography-lineHeightUppercase: map(typography, lineHeightUppercase) !default;
$typography-lineHeightReset: map(typography, lineHeightReset) !default;

// z-index

$zIndex-auto: map(zIndex, auto) !default;
$zIndex-below: map(zIndex, below) !default;
$zIndex-default: map(zIndex, default) !default;
$zIndex-popup: map(zIndex, popup) !default;
$zIndex-dialog: map(zIndex, dialog) !default;
$zIndex-dropdown: map(zIndex, dropdown) !default;
$zIndex-overlay: map(zIndex, overlay) !default;
$zIndex-menu: map(zIndex, menu) !default;
$zIndex-modal: map(zIndex, modal) !default;
$zIndex-toast: map(zIndex, toast) !default;
